<%= form_for @block do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nombre del bloque' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div>
    <%= f.submit 'Crear Bloque' %>
  </div>
<% end %>
