<%= form_for @flower_density do |f| %>
  <div class="form-group">
    <%= f.label :density, 'Densidad' %>
    <%= f.text_field :density, class: 'form-control' %>
  </div>
  <div>
    <%= f.submit 'Editar Densidad' %>
  </div>
<% end %>
