<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <a href="#/" class="navbar-brand">
         <div class="brand-logo">
            <img src="<%= image_path('angle/melius2.png') %>" alt="App Logo" class="img-responsive" />
         </div>
         <div class="brand-logo-collapsed">
            <img src="<%= image_path('angle/melius_single.png') %>" alt="App Logo" class="img-responsive" />
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
         <li class="visible-lg">
            <a href="#" data-toggle-fullscreen="" data-no-persist="true">
               <em class="fa fa-expand"></em>
            </a>
         </li>
         <li>
            <a href="/logout" data-toggle-state="offsidebar-open" data-no-persist="true">
               <em class="icon-logout"></em>
            </a>
         </li>
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar-->
